@font-face{
    font-family:'calibri';
    src:url(../fonts/calibri.ttf) format('truetype'),
    url(../fonts/calibri.eot) format('eot'),
    url(../fonts/calibri.woff) format('woff');
    font-weight:normal;
    font-style:normal;
    }
@font-face{
    font-family:'calibri_0';
    src:url(../fonts/calibri_0.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    }
@font-face{
    font-family:'calibrib';
    src:url(../fonts/calibrib.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    }    
@font-face{
    font-family:'calibrib_0';
    src:url(../fonts/calibrib_0.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    }     
@font-face{
    font-family:'calibrii';
    src:url(../fonts/calibrii.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    } 
@font-face{
    font-family:'calibrii_0';
    src:url(../fonts/calibrii_0.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    } 
@font-face{
    font-family:'calibril';
    src:url(../fonts/calibril.ttf) format('truetype'),
    url(../fonts/calibril.eot) format('eot'),
    url(../fonts/calibril.woff) format('woff'),
    url(../fonts/calibril.woff2) format('woff2');
    font-weight:normal;
    font-style:normal;
    } 
@font-face{
    font-family:'calibrili';
    src:url(../fonts/calibrili.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    } 
@font-face{
    font-family:'calibriz';
    src:url(../fonts/calibriz.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    } 
@font-face{
    font-family:'calibriz_0';
    src:url(../fonts/calibriz_0.ttf) format('truetype');
    font-weight:normal;
    font-style:normal;
    } 

@font-face {
    font-family: "Arkhip";
    src: url("../fonts/KZArkhip-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
