* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Arkhip';
  font-size: 16px;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  background: #fff;
  color: #4174d5; 
}
.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto; 
}
.row {
  width: 100%;
  padding: 0 20px; 
}
.flex {
  display: flex; 
}
li{
  list-style-type: none;
  display: inline-block;
}
a {
  color: #4174d5;
  transition: 0.4s ease; 
  text-decoration: none;
}
a:hover {
  color: #4174d5; 
}
header {
  width: 100%;
  float: left; 
}
section{
  width: 100%;
  float: left;
  padding: 10px 0;
}
.lang{
  width: 100%;
  float: left;
  background: #4174d5;
  padding: 15px 0;
  text-align: right;
}
.lang a{
  color: #fff;
}
.lang ul li{
  padding: 0 5px;
}
.lang ul li.active{
  color: #
}
.desktop-header-wrap {
  width: 100%;
  float: left;
  display: block; 
  padding: 15px 0;
}
.desktop-header {
  width: 100%;
  display: flex;
  align-items: center;
}
.desk-logo{
  width: 25%;
  float: left;
}
.desk-logo img{
  width: 100%;
}
.desk-text{
  width: 50%;
  float: left;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}
.desk-contacts{
  width: 25%;
  float: left;
  text-align: right;
}
.desk-contacts a{
  display: inline-block;
}

/*header mobile burger popup*/
.mobile-header{
  display: none;
}
.header-popup{
  display: none;
}

.menu-list{
  width: 100%;
  float: left;
  padding: 10px 0;
  margin-bottom: 25px;
}
.menu-list ul{
  display: flex;
  justify-content: space-between;
}
.menu-list ul li a{
  background: #6b93de;
  border-radius: 5px;
  color: #fff;
  padding: 7px 5px 3px 5px;
  display: inline-block;
  transition: 0.4s ease;
}
.menu-list ul li a:hover{
  background: #4174d5;
}
.heading{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.heading h2{
  font-size: 26px;
  padding: 0 15px;
  text-transform: uppercase;
}
.heading img{
  width: 100%;
  display: block;
}
.content{
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
.news{
  width: 100%;
  float: left;
}
.news-left{
  width: 66.66%;
  float: left;
}
.news-right{
  width: 33.33%;
  float: left;
  padding-left: 80px;
}
.nr-bg{
  position: relative;
  height: 360px;
  min-height: 360px;
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.nr-bg::before{
  content: '';
  display: block;
  position: absolute;
  background: url(../img/ornament.png);
  width: 32px;
  height: 355px;
  left: -55px;
  top: 0;
}
.nr-text{
  background: #4174d5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 10px;
}
.nr-text h4{
  color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
}
.nr-text p{
  color: #fff;
  font-size: 12px;
}
.news-every{
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
}
.ne-40{
  width: 40%;
  padding: 20px 20px;
  background: #4174d5;
  height: 360px;
  min-height: 360px;
}
.ne-40 h2{
  color: #fff;
  margin-bottom: 10px;
  width: 100%;
  float: left;
}
.ne-40 p{
  font-size: 12px;
  color: #fff;
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
  max-height: 200px;
}
.ne-60{
  width: 60%;
  float: left;
  height: 360px;
  min-height: 360px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.about-text{
  width: 100%;
  float: left;
  padding: 0 15px;
  text-indent: 20px;
}
.gallery-slider{
  width: 100%;
  float: left;
  display: block;
}
.gallery-slider .item{
  width: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 450px;
}
.gallery-slider .owl-item{
  transform: scale(0.9);
  transition: 0.4s ease;
}
.gallery-slider .owl-item.active{
  transform: scale(1);
  z-index: 5;
}
.acts{
  width: 100%;
  float: left;
  padding: 10px 40px;
}
.acts ul li{
  display: block;
  margin-bottom: 25px;
}
.acts a{
  text-decoration: underline;
  text-transform: uppercase;
}

.became{
  width: 100%;
  float: left;
  padding: 10px 20px;
}
.every-became{
  width: 100%;
  float: left;
  margin-bottom: 25px;
}
.every-became h3{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.every-became p{
  font-size: 16px;
  text-transform: uppercase;
}
.every-became.last h3{
  text-align: center;
}

.projects{
  width: 100%;
  float: left;
  padding: 10px 40px;
}
.project-every{
  width: 100%;
  float: left;
  margin-bottom: 50px;
}
.project-img{
  width: 30%;
  float: left;
}
.project-img img{
  width: 100%;
  display: block;
}
.project-content{
  width: 70%;
  float: left;
  padding: 0 0 0 40px;
}
.project-content h3{
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.project-content p{
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10px;
}
.project-content a{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background: #4174d5;
  display: inline-block;
  padding: 5px 5px 2px 5px;
  border-radius: 5px;
}
.contacts{
  width: 100%;
  float: left;
  padding: 10px 20px 20px;
  margin-bottom: 30px;
}
.socials{
  width: 100%;
  float: left;
  padding: 10px 10px;
}
.socials ul li{
  display: inline-block;
  padding: 0 10px;
}
.socials ul li img{
  max-width: 84px;
  width: 100%;
}
footer{
  width: 100%;
  float: left;
  background: #4174d5;
}
.footer{
  width: 100%;
  float: left;
  color: #fff;
  padding: 20px 0;
}
.foot1{
  width: 33.33%;
  float: left;
}
.foot2{
  width: 33.33%;
  float: left;
  text-align: center;
}
.foot3{
  width: 33.33%;
  float: left;
  text-align: right;
}
.foot3 a{
  color: #fff;
}
