@media only screen and (max-width: 1024px) {

.desktop-header-wrap{
	display: none;
}
.menu-list{
	display: none;
}
.lang{
	display: none;
}
.mobile-header{
  width: 100%;
  float: left;
  display: block;
  background: #4174d5;
}
.mobile-wrap{
  display: block;
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-logo img{
	max-height: 40px;
}
.mobile-logo a{
	color: #fff;
	font-size: 25px;
}
.mobile-burger .fas{
	color: #fff;
	font-size: 30px;
}
.header-popup{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 100px 0 20px 0;
  overflow: auto;
  z-index: 100;
}
.popup-close{
	position: absolute;
	top: 12px;
	right: 20px;
}
.popup-close .fas{
	color: #4174d5;
	font-size: 35px;
}
.head-li{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 30px;
}
.head-li li{
	display: block;
	margin-bottom: 15px;
}
.head-li li a{
	font-size: 25px;
}
.desk-text{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 35px;
}
.desk-text p{
	font-size: 25px;
}
.desk-contacts{
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 25px;
}
.language{
	width: 100%;
	float: left;
	text-align: center;
}
.language li {
	padding: 0 20px;
}
.language a{
	font-size: 25px;
}
.nr-bg::before{
	content: none;
}
.news-right{
	padding-left: 20px;
}
.ne-40 h2{
	font-size: 13px;
}
.ne-40 p{
	font-size: 10px;
}
.nr-text h4{
	font-size: 13px;
}
.nr-text p{
	font-size: 10px;
}

}

@media only screen and (max-width: 765px) {
	
.news-left {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.ne-40 {
    width: 100%;
    background: #4174d5;
    height: auto;
    min-height: auto;
    float: left;
}
.news-every{
	display: block;
}
.ne-60 {
    width: 100%;
    float: left;
    height: 175px;
    min-height: 175px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.news-right{
	padding-left: 0;
	width: 100%;
}
.nr-bg{
	height: 300px;
	min-height: 300px;
}
.about-text{
	padding: 0;
}
.ne-40 h2{
	font-size: 14px;
}
.ne-40 p{
	font-size: 12px;
}
.nr-text h4{
	font-size: 14px;
}
.nr-text p{
	font-size: 12px;
}
.heading h2 {
    font-size: 22px;
    padding: 0;
    text-transform: uppercase;
}
.acts {
    padding: 0;
}
.acts ul li {
    margin-bottom: 15px;
}
.became{
	padding: 0;
}
.projects{
	padding: 0;
}
.project-img{
	width: 100%;
	margin-bottom: 20px;
}
.project-content {
    width: 100%;
    float: left;
    padding: 0;
}
.contacts {
    padding: 10px 0px 20px;
    margin-bottom: 30px;
}
.socials{
	text-align: center;
}
.socials li{
	margin-bottom: 10px;
}
.gallery-slider .item{
	height: 275px;
}
.header-popup{
	padding: 75px 0 30px;
}
.desk-text p {
    font-size: 18px;
}
.head-li li a {
    font-size: 18px;
}
.head-li li {
    margin-bottom: 10px;
}
.desk-text{
	margin-bottom: 25px;
}
.head-li{
	margin-bottom: 25px;
}
.language li {
    padding: 0 10px;
}
.language a {
    font-size: 18px;
}
.foot1 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    text-align: center;
}
.foot2 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    text-align: center;
}
.foot3 {
    width: 100%;
    float: left;
    text-align: center;
}

}

